.btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: $roboto;
    font-style: $font-style-normal;
    font-weight: $font-weight-700;
    font-size: 18px;
    line-height: 170%;
    text-decoration: none;
    text-align: center;
    border-radius: $border-radius-100;
    background-color: transparent;
    -webkit-transition: background-color $transition, color $transition;
    -o-transition: background-color $transition, color $transition;
    transition: background-color $transition, color $transition;
    padding: 8px 25px;
    outline: none;
    > i {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 24px;
        height: 24px;
        font-size: 18px;
        + span {
            margin-left: 10px;
        }
    }
    > span {
        white-space: nowrap;
    }
    &:hover {
        cursor: pointer;
        text-decoration: none;
    }
    &--white {
        background-color: $white;
        color: $orange-100;
        &:hover,
        &:active,
        &:focus {
            background-color: $orange-300;
            color: $white;
        }
    }
}
    