.screen-two {
    position: relative;
    z-index: 1070;
    margin-top: 327px;
    @include media-breakpoint-down(md) {
        margin-top: 26px;
    }
    @include media-breakpoint-down(xs) {
        margin-top: 30px;
    }
    &__image {
        width: 100%;
        text-align: right;
    }
    .content {
        &__title {
            font-family: $ubuntu;
            font-style: $font-style-normal;
            font-weight: $font-weight-700;
            font-size: 42px;
            line-height: 120%;
            color: $grey-blue-300;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            @include media-breakpoint-down(md) {
                font-size: 16px;
                line-height: 120%;
            }
            > img {
                width: 30px;
                height: 30px;
                margin-left: 14px;
            }
            + .content {
                &__text {
                    margin-top: 25px;
                    @include media-breakpoint-down(md) {
                        margin-top: 9px;
                    }
                    @include media-breakpoint-down(xs) {
                        margin-top: 11px;
                    }
                }
            }
        }
        &__text {
            font-family: $roboto;
            font-style: $font-style-normal;
            font-weight: $font-weight-400;
            font-size: 18px;
            line-height: 150%;
            color: $grey-100;
            @include media-breakpoint-down(md) {
                font-size: 14px;
                line-height: 150%;
                color: $grey-blue-100;
            }
            @include media-breakpoint-down(xs) {
                font-size: 13px;
            }
        }
        &__buttons {
            margin-top: 73px;
            @include media-breakpoint-down(md) {
                margin-top: 9px;
            }
            @include media-breakpoint-down(xs) {
                margin-top: 10px;
            }
            > a {
                text-decoration: none;
                @include media-breakpoint-down(xs) {
                    max-width: 117px;
                }
                + a {
                    margin-left: 23px;
                    @include media-breakpoint-down(md) {
                        margin-left: 21px;
                    }
                }
            }
        }
    }
}