.screen-three {
    background: -o-radial-gradient(50% -42.05%, 95.07% 134.5%, #513E63 0%, #282837 29.64%, #4D4793 85.3%, #9260A9 100%);
    background: radial-gradient(95.07% 134.5% at 50% -42.05%, #513E63 0%, #282837 29.64%, #4D4793 85.3%, #9260A9 100%);
    position: relative;
    z-index: 1070;
    overflow: hidden;
    @include media-breakpoint-down(xs) {
        margin-top: 180px;
        padding-bottom: 20px;
        height: 440px;
        overflow: visible;
    }
    &:before {
        content: "";
        position: absolute;
        background: $white;
        width: 7175px;
        height: 7175px;
        bottom: 495px;
        left: 50%;
        border-radius: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        @include media-breakpoint-down(md) {
            bottom: 275px;
        }
        @include media-breakpoint-down(xs) {
            content: none;
        }
    }
    &__image {
        width: 100%;
        text-align: left;
        @include media-breakpoint-down(xs) {
            position: absolute;
            left: 0;
            right: 0;
            top: -144px;
            width: 160px;
            height: 338px;
            margin: auto;
            &:after {
                content: '';
                background: -webkit-gradient(linear, left top, left bottom, color-stop(70.31%, rgba(61, 57, 108, 0)), to(#3D396C));
                background: -o-linear-gradient(top, rgba(61, 57, 108, 0) 70.31%, #3D396C 100%);
                background: linear-gradient(180deg, rgba(61, 57, 108, 0) 70.31%, #3D396C 100%);
                display: block;
                width: 100%;
                height: 338px;
                position: absolute;
                bottom: 20px;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    .content {
        &__title {
            font-family: $ubuntu;
            font-style: $font-style-normal;
            font-weight: $font-weight-700;
            font-size: 32px;
            line-height: 120%;
            color: $white;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            @include media-breakpoint-down(md) {
                font-size: 16px;
            }
            @include media-breakpoint-down(xs) {
                font-size: 13px;
            }
            > img {
                width: 30px;
                height: 30px;
            }
            + .content {
                &__text {
                    margin-top: 20px;
                    @include media-breakpoint-down(md) {
                        margin-top: 15px;
                    }
                    @include media-breakpoint-down(xs) {
                        margin-top: 10px;
                    }
                }
            }
        }
        &__text {
            font-family: $roboto;
            font-style: $font-style-normal;
            font-weight: $font-weight-400;
            font-size: 14px;
            line-height: 150%;
            color: $white;
            @include media-breakpoint-down(xs) {
                font-size: 13px;
            }
        }
        &__advantages {
            margin-top: 20px;
            @include media-breakpoint-down(md) {
                margin-top: 15px;
            }
            @include media-breakpoint-down(xs) {
                margin-top: 10px;
            }
            .item {
                + .item {
                    margin-left: 49px;
                    @include media-breakpoint-down(xs) {
                        margin-left: 22px;
                    }
                }
            }
            .value {
                font-family: $roboto;
                font-style: $font-style-normal;
                font-weight: $font-weight-600;
                font-size: 37px;
                line-height: 43px;
                color: $white;
                @include media-breakpoint-down(md) {
                    font-size: 16px;
                    line-height: 19px;
                }
                @include media-breakpoint-down(xs) {
                    font-size: 13px;
                    line-height: 15px;
                }
            }
            .description {
                font-family: $roboto;
                font-style: $font-style-normal;
                font-weight: $font-weight-400;
                font-size: 18px;
                line-height: 21px;
                color: $white;
                @include media-breakpoint-down(md) {
                    font-size: 14px;
                    line-height: 16px;
                }
                @include media-breakpoint-down(xs) {
                    font-size: 13px;
                    line-height: 15px;
                }
            }
        }
    }
}