.screen-six {
    position: relative;
    z-index: 1070;
    @include media-breakpoint-down(md) {
        margin: 50px 0;
    }
    &__image {
        width: 100%;
        text-align: center;
    }
    .content {
        &__title {
            font-family: $ubuntu;
            font-style: $font-style-normal;
            font-weight: $font-weight-700;
            font-size: 32px;
            line-height: 120%;
            color: $black;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            > img {
                width: 30px;
                height: 30px;
                margin-left: 12px;
            }
            + .content {
                &__text {
                    margin-top: 20px;
                }
            }
            + .accordion {
                margin-top: 20px;
            }
        }
    }
    .accordion {
        &__item {
            &.active {
                .accordion {
                    &__content {
                        opacity: 1;
                    }
                }
            }
            + .accordion {
                &__item {
                    margin-top: 5px;
                }
            }
        }
        &__header {
            background: $white;
            -webkit-box-shadow: $shadow-accordion;
                    box-shadow: $shadow-accordion;
            border-radius: $border-radius-5;
            font-family: $roboto;
            font-style: $font-style-normal;
            font-weight: $font-weight-700;
            font-size: 16px;
            line-height: 170%;
            color: $grey-blue-200;
            padding: 5px 10px;
            height: 37px;
            cursor: pointer;
        }
        &__content {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 175%;
            color: $grey-blue-200;
            max-height: 0;
            overflow: hidden;
            will-change: max-height;
            -webkit-transition: all 0.25s ease-out;
            -o-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
            opacity: 0;
        }
        &__content-inner {
            padding: 10px;
        }
    }
}