.screen-four {
    position: relative;
    z-index: 1070;
    padding-top: 69px;
    padding-bottom: 75px;
    background-color: $white;
    @include media-breakpoint-down(md) {
        padding-top: 30px;
        padding-bottom: 18px;
    }
    &:before {
        content: "";
        position: absolute;
        background: transparent;
        width: 7175px;
        height: 7175px;
        bottom: 495px;
        left: 50%;
        border-radius: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    }
    &__image {
        width: 100%;
        text-align: left;
        @include media-breakpoint-down(xs) {
            width: 60%;
            margin-top: 7px;
        }
    }
    .content {
        &__title {
            font-family: $ubuntu;
            font-style: $font-style-normal;
            font-weight: $font-weight-700;
            font-size: 32px;
            line-height: 120%;
            color: $black;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            @include media-breakpoint-down(md) {
                font-size: 16px;
            }
            @include media-breakpoint-down(xs) {
                font-size: 13px;
            }
            > img {
                width: 30px;
                height: 30px;
                margin-left: 12px;
                @include media-breakpoint-down(md) {
                    width: 20px;
                    height: 20px;
                }
            }
            + .content {
                &__text {
                    margin-top: 30px;
                    @include media-breakpoint-down(md) {
                        margin-top: 15px;
                    }
                    @include media-breakpoint-down(xs) {
                        margin-top: 10px;
                    }
                }
            }
        }
        &__text {
            font-family: $roboto;
            font-style: $font-style-normal;
            font-weight: $font-weight-400;
            font-size: 14px;
            line-height: 150%;
            color: $grey-blue-200;
        }
    }
}