
.icon-mail:before { content: '\e800'; } /* '' */
.icon-partner:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-login:before { content: '\e803'; } /* '' */
