@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?70508437');
  src: url('../font/fontello.eot?70508437#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?70508437') format('woff2'),
       url('../font/fontello.woff?70508437') format('woff'),
       url('../font/fontello.ttf?70508437') format('truetype'),
       url('../font/fontello.svg?70508437#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?70508437#fontello') format('svg');
  }
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before { content: '\e800'; }
.icon-partner:before { content: '\e801'; }
.icon-phone:before { content: '\e802'; }
.icon-login:before { content: '\e803'; }
