*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
  line-height: inherit;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

main {
  min-height: 1px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

article {
  height: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.text-orange {
  color: $orange-200 !important;
}